<!-- routes-partial.html -->
				<div ng-controller="RouteController as routeCtrl">
					<input type="text" class="filter" placeholder="Filter Routes" ng-model="searchText">
					<dl class="sub-nav">
					  <dd class="active"><a href>All</a></dd>
					  <dd><a href>Trains</a></dd>
					  <dd><a href>Buses</a></dd>
					  <dd><a href>Shuttles</a></dd>
					</dl>
					
					<table>
						<tr ng-repeat="route in routes | filter:searchText">
							<td>{{ routeCtrl.route }}</td>
						</tr>
					</table>
				</div>