/* style.css */

body {
	margin:0;
}

.nav {

}

.nav li {

}

#all, #rails, #bus, #shuttle {
	list-style: none;
	padding-left: 0;
	margin: 0 auto;
}

#all li, #rails li, #bus li, #shuttle li {
	display: block;
	margin: 2px;
	padding: 10px 10px 10px 30px;
	background: rgba(0,0,0,.05);
}

#all li a:hover, #rails li a:hover, #bus li a:hover, #shuttle li a:hover {
	text-decoration: none;
}

#all li:hover, #rails li:hover, #bus li:hover, #shuttle li:hover {
	background: rgba(0,0,0,.15);
}

.panel {
	border: 0;
}