/* style.css */

table tr td {
	padding: 0;
}

table a {
	display: block;
	padding: 12px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.breadcrumbs * a {
	padding: 5px;
}

.notalink {
	padding: 7px;
}

h2 {
	font-size: 1.5em;
	text-align: center;
}

li i {
	padding-right: 10px;
}

.breadcrumbs {
	margin-bottom: 0;
	background: none;
	border: 0;
}

.filter{
	margin: 4px 0;
}

.filter#stops {
	width: 50%;
	margin-right: 10px;
	float: left;
}

#nearby {
}

#nearby a {
	padding: 10px 40px;
	margin-bottom: 17px;
}

.sub-nav {
	margin-left: 0;
	/*border-bottom: 1px solid #ddd;*/
	margin-bottom: 0;
}

.sub-nav dd:not(.has-form) {
	display: inline-block;
	margin: 0;
	float: none;
}

.sub-nav dd a, .sub-nav dd.active  a  {
	border-radius: 0 !important;
	display:block;
	padding:10px 15px;
}

.sub-nav dd a:hover {
	background: rgba(0,0,0,.05);
}

table {
	width: 100%;
	border: 0;
}

span.id {
	float: right;
}

.detour {
}

td.arrival {
	min-width: 75px;
	padding-left: 5px;
	padding-right: 0;
}

table {
	border-top: 1px solid #ddd;
}

#dailyschedule .filter#stops {
	margin-left: 10px;
	margin-bottom: 0;
}

#refresh {
	width: 50%;
	display: inline-block;
}

#refresh a {
	margin-bottom: 0;
	float: right;
}

#stopdesc {
	width:50%;
	display: inline-block;
}

#map-canvas {
	width: 100%;
	height: 150px;
	margin-bottom: 10px;
}

.time {
	float: right;
}