<ul class="breadcrumbs">
	<li class="current"><a href>About</a></li>
</ul>
<div class="columns">
	<br />
	<p>PDX InTransit is mobile app to track arrivals for Portland, OR's Trimet public transit system, and find stops/routes nearby. Originally started as a personal solution to finding stops quickly, PDX InTransit soon became a fully-fledged transit tracker. Never be lost again!</p>
	<p>Designed, developed, and published by Will Acton. All rights reserved.</p>
	<h3>About the Author</h3>
	<p>Will Acton is a developer residing in Portland, OR. You can view his blog at <a target="_blank" href="http://willacton.com">http://willacton.com</a>, and his other projects and source code at <a target="_blank" href="http://github.com/Lokeh/">http://github.com/Lokeh/</a>.</p>
</div>