<!-- arrival-partial.html -->
<ul class="breadcrumbs">
	<li class="current"><a href>Routes</a></li>
</ul>
<div class="columns">
	<google-map transclude></google-map>
	<div id="stopdesc"><span>{{ stopInfo.desc }}</span></div><div id="refresh"><a href class="button tiny" ng-click="getArrivals()"><i class="fa fa-refresh"></i></a></div>
	<table>
		<tr ng-repeat="time in arrivals">
			<td>{{ time.shortSign }}</td><td><span class="time">{{ theTime(time) | date:'h:mma' }} <br /> ({{ timeUntil(time) }})</span></td>
		</tr>
	</table>
</div>