<!-- routes-partial.html -->
<ul class="breadcrumbs">
	<li class="current"><a href>Routes</a></li>
</ul>
<div class="columns">
	<dl class="sub-nav" filter-tabs>
	</dl>
	<table>
		<tbody ng-show="isTabActive('all')">
			<tr ng-repeat="route in routes | filter:searchText">
				<td><a ui-sref="stops( { routeID: '{{ route.route }}' } )"> {{ route.desc }}</a></td>
			</tr>
		</tbody>
		<tbody ng-show="isTabActive('trains')">
			<tr ng-repeat="route in routes | rails | filter:searchText">
				<td><a ui-sref="stops( { routeID: '{{ route.route }}' } )">{{ route.desc }}</a></td>
			</tr>
		</tbody>
		<tbody ng-show="isTabActive('buses')">
			<tr ng-repeat="route in routes | bus | filter:searchText">
				<td><a ui-sref="stops( { routeID: '{{ route.route }}' } )">{{ route.desc }}</a></td>
			</tr>
		</tbody>
		<tbody ng-show="isTabActive('shuttles')">
			<tr ng-repeat="route in routes | shuttle | filter:searchText">
				<td><a ui-sref="stops( { routeID: '{{ route.route }}' } )">{{ route.desc }}</a></td>
			</tr>
	</table>
</div>
<div class="fixedFilter">
	<input type="text" class="filter" id="routes" placeholder="Filter Routes" ng-model="searchText.desc">
</div>