<!-- stops-partial.html -->
<ul class="breadcrumbs">
	<li><a ui-sref="routes">Routes</a></li>
	<li class="current"><a href>Stops</a></li>
</ul>
<div class="columns">
	<div id="nearby">
		<a href class="button small"><i class="fa fa-map-marker"></i> Nearby</a>
	</div>
	<span style="float: left">{{ stops.desc }}</span>
	<detour-modal></detour-modal>
	<table ng-repeat="direction in stops.dir">
		<tr>
			<th>
				{{ direction.desc }}
			</th>
		</tr>
		<tr ng-repeat="stop in direction.stop | filter:searchText">
			<td><a ui-sref="arrivals({ routeID: theRouteID, stopID: {{ stop.locid }} })">{{ stop.desc }}<!--<span class="id">(ID: {{ stop.locid }})</span>--></a></td>
		</tr>
	</table>
</div>
<div class="fixedFilter">
	<input type="text" class="filter" id="stops" placeholder="Filter Stops" ng-model="searchText.desc" />
</div>